# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Logs
logs/
*.log

# Debug
debug_images/
debug_renders/
.tmp_images/

# Data
data/
database/
vector_store/

# Reports
*.xlsx

# Generated JSON
toc_final.json
toc_rule_based.json

# Environment variables
.env

# OS
.DS_Store
Thumbs.db