version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: smart-medirag-backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./:/app

  frontend:
    build:
      context: ./frontend-app
      dockerfile: Dockerfile
    container_name: smart-medirag-frontend
    environment:
      - VITE_API_BASE_URL=/api
    ports:
      - "5173:5173"
    volumes:
      - ./frontend-app:/app
      - /app/node_modules
    depends_on:
      - backend
